* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #b4c4d4;
  color: #001233;
}


header {
  background: linear-gradient(90deg, #0096c7, #023e8a);
  color: rgb(188, 124, 124);
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: rgb(114, 114, 114);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #ffd60a;
}



.hero {
  height: 100vh;
  background: url('https://imgs.search.brave.com/26E7QRgAz6QZQMebRIIA9jBtpud5xeSGFNqAsGjtYJ8/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jb250/ZW50LmpkbWFnaWNi/b3guY29tL2NvbXAv/bWFuZ2Fsb3JlL3Y5/LzA4MjRweDgyNC54/ODI0LjE4MDQxMTA3/NDk1NS5qNHY5L2Nh/dGFsb2d1ZS9sb2Jv/LXMtcml2ZXItdmll/dy1ib2xhci1tYW5n/YWxvcmUtdG91cmlz/dC1hdHRyYWN0aW9u/LXZhYm56ajI5OWEt/MjUwLmpwZz93PTY0/MCZxPTc1') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 60px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 30, 60, 0.45);
  backdrop-filter: blur(2px);
}

.hero-content {
  position: relative;
  z-index: 5;
}

.hero-content h1 {
  font-size: 3.3rem;
  font-weight: 700;
}

.hero-content p {
  margin-top: 15px;
  font-size: 1.3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #ffd60a;
  padding: 14px 28px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 700;
}
.btn:hover {
  background: #ffca3a;
  transform: translateY(-3px);
}



section.page,
section.highlights {
  padding: 100px 40px 50px;
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #023e8a;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}


.about {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.about img {
  border-radius: 15px;
  width: 300px;
}

.about-text {
  max-width: 500px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background: #0096c7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #0077b6;
}


@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-top: 120px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .about {
    flex-direction: column;
  }
}

.section {
  padding: 80px 40px;
}

.dest-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.dest-card {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  text-align: center;
}

.dest-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.dest-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.dest-card h3 {
  color: #023e8a;
  margin-bottom: 5px;
}

